In [2]:
print("Day 9")

Day 9

In [7]:
def even_odd(num):
    if num%2==0:
        print("Even")
    else:
        print("odd")

In [8]:
even_odd(10)

Even

In [9]:
even_odd(15)

odd

In [10]:
#print vs return
def hello():
    print("Hello World")

In [11]:
hello()

Hello World

In [12]:
val=hello()

Hello World

In [13]:
print(val)

None

In [14]:
def hello():
    return "Hello World"

In [15]:
hello()

'Hello World'

In [16]:
val1=hello()

In [17]:
print(val1)

Hello World

In [18]:
def add_num(num1,num2):
    return num1+num2

In [19]:
add=add_num(1,2)

In [20]:
print(add)

3

In [21]:
#positional argument and keyword argument
def new(name,age=20):
    print("My name is {} and age is {}".format(name,age))

In [22]:
new("Sandeep")

My name is Sandeep and age is 20

In [23]:
def another(*args,**kwargs):
    print(args)
    print(kwargs)

In [24]:
another("Sandeep","Kumar",Age=19,DOB=111)

('Sandeep', 'Kumar')
{'Age': 19, 'DOB': 111}

In [25]:
lst=["Sandeep","Kumar"]
dic_args={'Age': 19, 'DOB': 111}

In [26]:
another(lst,dic_args)

(['Sandeep', 'Kumar'], {'Age': 19, 'DOB': 111})
{}

In [27]:
another(*lst,**dic_args)

('Sandeep', 'Kumar')
{'Age': 19, 'DOB': 111}

In [28]:
lst=[1,2,3,4,5,6,7]

In [29]:
def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum+=i
        else:
            odd_sum+=i
    return even_sum,odd_sum

In [30]:
evenoddsum(lst)

(12, 16)

## Map Function in Python

In [39]:
def odd_even(num):
    if num%2==0:
        return "The number {} is Even".format(num)
    else:
        return "The number {} is Odd".format(num)

In [40]:
odd_even(15)

'The number 15 is Odd'

In [41]:
lst=[1,2,3,4,5,6,7,8,12,13,15,111]

In [44]:
list(map(odd_even,lst))

['The number 1 is Odd',
 'The number 2 is Even',
 'The number 3 is Odd',
 'The number 4 is Even',
 'The number 5 is Odd',
 'The number 6 is Even',
 'The number 7 is Odd',
 'The number 8 is Even',
 'The number 12 is Even',
 'The number 13 is Odd',
 'The number 15 is Odd',
 'The number 111 is Odd']

## Lambda Function

Also known as Anonymous function

A function with no name

In [45]:
def add(num1,num2):
    return num1+num2

In [46]:
add(20,50)

70

In [48]:
addition=lambda num1,num2:num1+num2

In [49]:
addition(12,13)

25

In [50]:
def evenodd(num):
    if num%2==0:
        print("Even")
    else:
        print("odd")

In [51]:
evenodd(2)

Even

In [52]:
even=lambda a:a%2==0

In [53]:
even(5)

False

In [54]:
even(4)

True

In [56]:
def addition(num1,num2,num3):
    return num1+num2+num3

In [57]:
addition(1,5,9)

15

In [58]:
simple=lambda num1,num2,num3:num1+num2+num3

In [59]:
simple(1,5,9)

15

## Filter Function in Python

In [69]:
def after(num):
    if num%2==0:
        return True

In [70]:
lst=[1,2,3,4,5,6,7,8,9,0]

In [75]:
list(filter(after,lst))

[2, 4, 6, 8, 0]

In [77]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 0]

In [78]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, False, True]